* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    background-repeat: no-repeat;
}

.main {
    width: 100%;
    height: 100%;
}

.btn-row {
    display: flex;
    align-items: center;
}

.btn {
    margin: 1em 0.5em;
}

.list-field {
display: flex;
flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}

.canban {
    width: 200px;
    min-height: 20px;
    margin: 0 1em;
}

.rotate {
    transform: rotate(-5deg);
}

.mybtn, .mybtn:active {
    font-size: 0.9em;
    outline: none!important;
    transform: scale(0.95);
}

.mybtn:hover {
  color: #018ec5d5;
}

.headline {
    width: 100%;
}

.headline-col {
    width: 20%;
    border-radius: 10px;
    border: 0;
    outline: none;
    margin-left: 1em;
    visibility: hidden;
}

h5 {
    color: rgba(255, 255, 255, 0.774);
}

.card-opt {
    width: 90%;
    align-self: flex-start;
    display: flex;
    margin: 0 1em;
    align-items: center;
    justify-content: space-between;
}

.dropdown-toggle::after {
    margin-left: -0.2em!important;
    vertical-align: 0.6em!important;
}

.btn-info {
    width: 1.5em;
    height: 1.5em;
}
