* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    background-repeat: no-repeat;
}

#main {
    width: 100%;
    height: 100%;
}

.btn-row {
    display: flex;
    align-items: center;
}

.btn {
    margin: 1em 0.5em;
}

.list-field {
display: flex;
flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}

.canban {
    width: 200px;
    min-height: 20px;
    margin: 0 1em;
}

.rotate {
    transform: rotate(-5deg);
}

.mybtn, .mybtn:active {
    font-size: 0.9em;
    outline: none!important;
    transform: scale(0.95);
}

.mybtn:hover {
  color: #018ec5d5;
}

.headline {
    width: 100%;
}

.headline-col {
    width: 20%;
    border-radius: 10px;
    border: 0;
    outline: none;
    margin-left: 1em;
    visibility: hidden;
}

.title-card {
    color: rgba(255, 255, 255, 0.774);
}

.card-opt {
    width: 90%;
    align-self: flex-start;
    display: flex;
    margin: 0 1em;
    align-items: center;
    justify-content: space-between;
}

.dropdown-toggle::after {
    margin-left: -0.2em!important;
    vertical-align: 0.6em!important;
}

.btn-info {
    width: 1.5em;
    height: 1.5em;
}

.popup {
    width: 40%;
    height: auto;
    background-color: transparent;
    border-radius: 10px;
    z-index: 3;
    top:10%;
    left: 30%;
    position: fixed;
}

.discription {
    width: 100%;
    height: 60%;
    margin: auto;
    background-color: #fafafa;
    border-radius: inherit;
}

.comments {
    margin-top: 1em;
    width: 100%;
    height: 30%;
    background-color: #fafafa;
    border-radius: inherit;
}

.comments h6, .discription h6 {
    padding: 1em;
    color: rgba(0, 0, 0, 0.685);
}

.borderpopup {
    border:0!important;
}

.form-control {
    resize: none;
}

.form-group {
    display: none;
}

.card-body {
    cursor: pointer;
}

.popupfon {
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.336);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.discription-area {
 width: 100%;
 border: none;
 outline: none;
 resize: none;
}

.headline-inp {
    width: 100%;
    border-radius: inherit;
    padding: 1em;
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.685);
    border: none;
    margin-bottom: 1em;
    outline: none;
}

.comment-text {
   width: inherit;
   word-wrap: break-word;
   padding: 1em;
   background-color: #fff;
   margin: 0.5em 0;
   border: 1px solid rgba(70, 70, 70, 0.397)
}

.comment-area {
    margin: 0 2%;
    width: 96%;
    padding: 1em;
    resize: none;
    border-color: rgba(17, 0, 255, 0.507);
}

.popupHeader {
    display: flex;
    justify-content: space-between;
    border-radius: inherit;
    padding: 0 1em;
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.685);
    align-items: center;
    margin-bottom: 1em;
}

.deltask {
    font-size: 0.8rem!important;
}